<!-- <header>
  
  <table>
    <tr>

    <th>
      <button  *ngIf="showText" (click)="showText=!showText">Logout</button>
      <button  *ngIf="!showText" (click)="showText=!showText">Login</button></th>
    <th>Contact</th>
    <th>My profile</th>

    
    
      <th><input type="text" name="Seach" id="searchbox"><button>search</button></th>
      
  </tr>
  </table>
</header>  -->



<header>
  <nav class="menu">
    <ul class>
      <li><a [routerLink]="['/login']" routerLinkActive="active">Login/Signup</a></li>
      <!-- <li><a [routerLink]="['/profile']" routerLinkActive="active">Profile</a></li>
      <li><a [routerLink]="['/profile']" routerLinkActive="active">Logout</a></li> -->
      <li><a [routerLink]="['/profile']" routerLinkActive="active">Profile</a></li>



      
    </ul>
  </nav>
  <!-- <div class="search-bar">
    <form>
      <input type="text" placeholder="Search...">
      <button type="submit">Search</button>
    </form>
  </div> -->
  
</header>
